# Basic Python

## Datatypes:

### 1)Numbers:

In [28]:
#integer
x = 2
print(x,"-",type(x))
#float
x=2.6
print(x,"-",type(x))
#complex
x=2+8j
print(x,"-",type(x))

2 - <class 'int'>
2.6 - <class 'float'>
(2+8j) - <class 'complex'>

### 2)Strings :

In [29]:
x="VIT"
print(x,"-",type(x))

VIT - <class 'str'>

### 3)Lists:

A collection of elements in []. 

Lists are mutable and flexible,i.e they can be edited.

In [37]:
x = ["AI", "ML", "DL"]
print(x,"-",type(x))

['AI', 'ML', 'DL'] - <class 'list'>

In [38]:
# Traversing a list
for i in x:
    print(i)

AI
ML
DL

In [39]:
# pop element from the list
# It is based on LIFO principle: Last In first Out
x.pop()
print(x)

del x[0];
print(x)

['AI', 'ML']
['ML']

In [40]:
# inserting an element in the list at some index
x.insert(3,"DL")
print(x)
# Repetition of list
y = x*2
# del x
# print(x)
print(y)

['ML', 'DL']
['ML', 'DL', 'ML', 'DL']

In [41]:
# built-in functions
print(y)
y.sort()
print(y)
y.reverse()
print(y)
y.remove("DL")
print(y)

['ML', 'DL', 'ML', 'DL']
['DL', 'DL', 'ML', 'ML']
['ML', 'ML', 'DL', 'DL']
['ML', 'ML', 'DL']

### 4)Tuples : 

Tuples are enclosed in ( )

They are immutable. We can not edit or change them, once created.

In [8]:
x = ("AI", "ML", "DL")
print(x,"-",type(x))
print(x[0]," is the fisrt element in tuple",x)
print(x[0:2]," are the fisrt two elements in tuple",x)
print(x[-1]," is the last element in tuple",x)
print(x[-2:]," are the last two elements in tuple",x)
x1 = ("NLP", "EDA")
print(x + x1)

('AI', 'ML', 'DL') - <class 'tuple'>
AI  is the fisrt element in tuple ('AI', 'ML', 'DL')
('AI', 'ML')  are the fisrt two elements in tuple ('AI', 'ML', 'DL')
DL  is the last element in tuple ('AI', 'ML', 'DL')
('ML', 'DL')  are the last two elements in tuple ('AI', 'ML', 'DL')
('AI', 'ML', 'DL', 'NLP', 'EDA')

In [25]:
# Membership
print("Ai" in x)
# Traversing a tuple
for i in x: print(i)

False
AI
ML
DL

In [27]:
print(len(x))
print(max(x))
print(min(x))
x = ["AI", "ML", "DL"]
print(type(x))
y = tuple(x)
print(type(y))

3
ML
AI
<class 'list'>
<class 'tuple'>

### 5)Dictionary

Unordered nature.

{key:value} - key is immutable, value is mutable.

In [50]:
x = {'Name': 'Rohan', 'Age': 8, 'Class': 'Four'}
print(x,"-",type(x))

{'Name': 'Rohan', 'Age': 8, 'Class': 'Four'} - <class 'dict'>

In [51]:
x['Name']

'Rohan'

In [52]:
x.values()

dict_values(['Rohan', 8, 'Four'])

In [53]:
x.keys()

dict_keys(['Name', 'Age', 'Class'])

In [54]:
x['School'] = "VIT";
print(x)

{'Name': 'Rohan', 'Age': 8, 'Class': 'Four', 'School': 'VIT'}

In [64]:
len(x)
y = x.copy()
print(y)

{'Name': 'Rohan', 'Age': 8, 'Class': 'Four', 'School': 'VIT'}

In [65]:
del y['Name']; # remove entry with key 'Name'
print(y)
y.clear();     # remove all entries in dict
print(y)
del y;        # delete entire dictionary
print(y)

{'Age': 8, 'Class': 'Four', 'School': 'VIT'}
{}

NameError: name 'y' is not defined

In [68]:
# For deleting duplicates from a list, Dictionary is used

x=['a','c','b','a','d','b']
x= list(dict.fromkeys(x))  # creates a dictionary from x as keys and then coverts that dictionary to list
print(x)

['a', 'c', 'b', 'd']

# Order of operators

PEMDAS - 

P - Paranthesis  -- 1

E - Exponentiation -- 2

M - Multiplication--3

D - division--3

A- Addition--4

S - Subtraction--4

# Operators

### 1) Arithmetic: + , - , * , /, % , // , **

In [29]:
print(5/2)  # Divison ans
print(5//2) # Quotient
print(5%2)  #reminder

2.5
2
1

### 2) Relational : >,<,>=,<=,==,!=

### 3) Logical: and,or,not

# Membership

In [32]:
l = ["1","2","3"]
print('3' in l)

True

In [70]:
s = "VIT"
"I" in s

True

# Functions :

#### 1) Type conversions 

Converting one datatype to other

In [36]:
l = ["1","2","3"]
new_l = tuple(l)
print(new_l)

('1', '2', '3')

#### 2) Math functions

Perform mathematical operations - sqrt(),sin(),cos(),floor(),ceil(),log(),pow(x,y)

In [38]:
import math as m
a=16
sq = m.sqrt(a)
print(sq)

4.0

In [41]:
x = 7.8
print("Floor prints the largest integer which is  smaller than the number: ",m.floor(x) )
print("Ceil prints the smallest integer which is  larger than the number: ",m.ceil(x) )

Floor prints the largest integer which is  smaller than the number:  7
Ceil prints the smallest integer which is  larger than the number:  8

#### 3) User Defined Functions

In [43]:
# User defined function to print your name
def abc(name):
    print(name)

name = input() # input from user
abc(name)

vaishnavi
vaishnavi

# Strings operations:

In [71]:
s = "Vit Chennai"
# print elements from 1 to 3 index
print(s[1:4])
# print elements in reverse order
print(s[::-1])
# convert all to lower case
print(s.lower())
#convert all to upper case
print(s.upper())
#find a letter
print(s.find('a'))
#removes space from end and beginning
s=s.strip() 
print(s)
# are all the elements alphabets?
print(s.isalpha())
#replace an element woth other
print(s.replace('a','#'))
#are all elements digits?
print(s.isdigit())
#Convert lower to upper and upper to lower case
print(s.swapcase())
#split the string from an element
s=s.replace('a','#')
print(s.split('#'))

it
iannehC tiV
vit chennai
VIT CHENNAI
9
Vit Chennai
False
Vit Chenn#i
False
vIT cHENNAI
['Vit Chenn', 'i']

# File handing

In [87]:
# open a file 
f = open("file_name.txt",'w') # this opens a file for writing if it alraedy exists or else create a new file
f.write("This is a new file created. ")
print(f.name)
f.close()
print(f.closed)  # true if f is closed

file_name.txt
True

In [88]:
# open a file only for reading
f = open("file_name.txt","r")   #for this a file should exist 
f.close()

In [89]:
#append a file
f=open("file_name.txt",'a')
f.write("this is in continuation")
f.close()

In [90]:
#some functions
f = open("file_name.txt","r")  
print(f.read(27)) # first 10 characters
print(f.readline()) # read first line
print(f.tell()) # position of cursor

This is a new file created.
 this is in continuation
51

## Map() function

Apply  on iterables

Returns a new list

Syntax: map(function,iterables)

In [92]:
# code without using map()
def dub(a):
    return a*2

x=dub(5)
print(x)

10

In [93]:
# code using map()
l=[1,2,3,4,5]
x = map(dub,l)
print(list(x))

[2, 4, 6, 8, 10]

## Lambda ()

Reduce code size

In [94]:
# square 
sqr = lambda a:a*a
sqr(5)

25

In [95]:
# Solve linear equation
z=lambda x,y: 5*x+3*y
z(2,4)

22

In [97]:
# lambda with map
l=[1,2,3,4]
list(map(lambda x:x*2,l))

[2, 4, 6, 8]

## filter()

Syntax : filter(function,iterables)

In [98]:
def sq(x):
    if x>3:
        return x*x

l=[1,2,3,4,5]
sqr = filter(sq,l)
print(list(sqr))

[4, 5]

## reduce()

Carries out series calculation and returns a single answer

In [99]:
import functools
from functools import reduce

def add(a,b):
    return a+b

l=[1,2,3,4]
x= reduce(add,l)  # 1+2=3 , 3+3=6, 6+4=10
print(x)

10